{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col s12 center-align">
        <h4>Correct sentences</h4>
    </div>
</div>
<br><br>
<div class="divider"></div>
<br><br>
<div class="row">
    <form class="col s12 center-align" action="/sent_correct" method="post">
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">link</i>
                <input id="sent" type="text" name="SENT" >
                <label for="sent" >Enter Sentence</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              
  <button class="btn waves-effect waves-light btn-large pink accent-2" type="submit" name="submit" value="submit">
                    Submit
                </button>
  
          
            </div>
        </div>
        <div class="row"> 
            <div class="col-sm-9">
            <textarea class="form-control" rows="2" id="comment" name="query6" rows="2" cols="5" autofocus>{{output1}}</textarea>
        </div>
    </div>

</form>


</div>
{% endblock %}